body {
  background-color: black;
}

.container {
  max-width: 95%;
  margin: 0 auto;
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 40px;
}

h1 {
  color: white;
}

#add-task {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#add-task button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 1.5rem;
  margin-right: 10px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

/* Add new lis popup heading */
#add_newList {
  text-align: center;
  color: coral;

}

/*Add new list popup button */
.add_close_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

#submit-task {
  width: 70px;
  height: 40px;
  border-radius: 10px;
  border: none;
  background-color: coral;
  cursor: pointer;
}

.close {
  width: 70px;
  height: 40px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: coral;
}

/* subtask popup */
.subtask_modal_heading {
  text-align: center;
  color: coral;
}

.subtask_popup_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

#submit-subtask {
  width: 70px;
  height: 40px;
  border-radius: 10px;
  border: none;
  background-color: coral;
  cursor: pointer;
}

.subtask-close {
  width: 70px;
  height: 40px;
  border-radius: 10px;
  border: none;
  background-color: coral;
  cursor: pointer;
}

#todo-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.task-card {
  position: relative;
  width: calc(20% - 50px);
  height: 200px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 30px;
  backdrop-filter: blur(5px) hue-rotate(90deg);
}

.task-card p {
  margin: 0;
}

.add-subtask {
  position: absolute;
  bottom: 20px;
  right: 20px;
  /* background-color: rgb(0, 4, 255); */
  /* color: white; */
  /* border: none; */
  /* border-radius: 50%; */
  width: 30px;
  height: 30px;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
}

.delete-task {
  position: absolute;
  bottom: 10px;
  right: 50px;
  /* background-color: red; */
  /* color: white; */
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: white;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
  height: 30%;
  border-radius: 30px;
  transition: all 0.2s ease-in-out;
}

input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
}

.singleCard {
  display: none;
  background-color: black;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

#SubSingleCard {
  display: flex;
  justify-content: center;
  transform: translateY(50%);
}

.IconHeading {
  display: flex;
  justify-content: space-between;
  padding: 40px 30px 40px 30px;
}